@model LeaveManagement.Web.Models.LeaveRequestForEmployeeViewModel

@{
    ViewData["Title"] = "Leave Request Details";

    string className;
    string headingText;

    if(Model.Approved == null)
    {
        headingText = "Pending Approval";
        className = "warning";
    }else if(Model.Approved == true)
    {
        headingText = "Approved";
        className = "success";
    }else
    {
         headingText = "Rejected";
        className = "danger";
    }
 }

<h1>Leave Request Details</h1>

<div class="alert alert-@className" role="alert">
    <h4 class="alert-heading"> @headingText </h4>
    <hr/>
    <p>
        <strong> Employee Name: </strong> @Model.RequestingEmployee.FirstName @Model.RequestingEmployee.LastName
    </p>
    <hr/>
    <p>
        <strong> Date Requested: </strong> @Html.DisplayFor(model => model.DateRequested) 
    </p>
</div>

<div>
    <h4>Leave Request Details</h4>
    <hr />
    <dl class="row">
               <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestComments)
        </dd>
    </dl>
</div>
<div>
    @if(Model.Approved == null)
    {
        <form asp-controller="LeaveRequests" asp-action="Details">
            <input name="Id" value="@Model.Id" type="hidden" />
            <input name="approved" value="true" type="hidden"/>
            <button type="submit" class="btn btn-success" asp-route-approved="true"  >Approve</button>
        </form>
        <hr/>

         <form asp-controller="LeaveRequests" asp-action="Details">
            <input name="Id" value="@Model.Id" type="hidden" />
            <input name="approved" value="false" type="hidden"/>
            <button type="submit" class="btn btn-danger" asp-route-approved="false">Reject</button>
        </form>
    }
    <br/>
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>
